body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 40px;
    border-bottom: 1px solid rgb(211, 204, 204);
}

.brand-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
}

.brand-logo {
    font-size: 70px;
    color: red;
}

.brand-name {
    font-weight: 700;
    padding-left: 10px;
    font-size: 35px;
    color: red;
}

.login-container {
    margin-right: 20px;
}

.login-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(34, 33, 33);
    transition: text-decoration 0.3s;
}

.login-container a:hover {
    text-decoration: underline;
}

main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.main-wrapper {
    color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 340px;
    width: 100%;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.step-logo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.step-logo-container i {
    font-size: 70px;
    color: rgb(184, 20, 20);
}

.step-count {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(69, 64, 64);
}

.count {
    color: black;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: rgb(58, 55, 55);
}

.yapping {
    font-size: 18px;
    max-width: 290px;
    width: 100%;
    text-align: center;
}

.next-button {
    padding: 12px;
    background-color: rgb(224, 31, 31);
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    border: none;
    cursor: pointer;    
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: rgb(199, 13, 13);
}

.next-button:active {
    background-color: rgb(162, 7, 7);
}

footer {
    padding: 30px 40px;
    background-color: rgb(49, 46, 46);
    color: white;
    text-align: center;
}

footer span {
    display: block;
    margin-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

footer li {
    margin: 5px 0;
}

select {
    margin-top: 15px;
    padding: 5px;
}
