.logout-container {
    margin-right: 2%; 
}

.logout-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(34, 33, 33);
    transition: text-decoration 0.3s;
}

.logout-container a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.main-wrapper {
    color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 85px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1024px;
    padding: 0 15px 0px 15x;
}

.content-1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: left;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: rgb(58, 55, 55);
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.pack-container {
    border: 1px solid gray;
    border-radius: 18px;
    background-color: aliceblue;
    padding: 10px;
}

.pack-header {
    display: flex;
    flex-direction: column;

    color: white;
    font-weight: 500;
    line-height: 24px;
    border-radius: 18px;
    padding: 10px 16px 15px 16px;
    margin-bottom: 25px;
}

.mobile {
    background: url(../../assets/pack-images/mobile.jfif) no-repeat center 20%;
}

.basic {
    background: url(../../assets/pack-images/basic.jfif) no-repeat center 20%;
}

.standard {
    background: url(../../assets/pack-images/standard.avif) no-repeat left;
}

.luxury {
    background: url(../../assets/pack-images/luxury.jfif) no-repeat left;
}

.picked-icon-container {
    display: flex;
    justify-content: right;
}

.invisible {
    visibility: hidden;
}

.pack-description {
    padding: 0px 15px 20px 15px;
}

.desc {
    display: flex;
    flex-direction: column;
}

.col {
    font-size: 13px;
    color: rgb(118, 118, 118);
    font-weight: 500;
    line-height: 22px;
}

.col-detail {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    line-height: 20px;
}

.next-button-container {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
}

.next-button {
    padding: 24px 12px;
    background-color: rgb(224, 31, 31);
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 44%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: rgb(199, 13, 13);
}

.next-button:active {
    background-color: rgb(162, 7, 7);
}

@media screen and (max-width: 500px) {
    .brand-container i {
        font-size: 35px;
    }

    .brand-container span {
        font-size: 20px;
    }
    
    .login-container a { 
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) { 
    .content-1 {
        display: none;
    }
    
    .content-2 {
        display: initial;
    }
}