.logout-container {
    display: flex;
    justify-content: right; 
    align-items: center;
    max-width: 340px;
    width: 100%;
    gap: 2%;
}

.email {
    font-weight: 500;
    margin-right: 1%;
}

.logout-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(34, 33, 33);
    transition: text-decoration 0.3s;
}

.logout-container a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.main-wrapper {
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 85px;
    width: 100%;
    max-width: 1024px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1024px;
    padding: 0 15px 0px 15x;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: left;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: rgb(58, 55, 55);
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.pack-container {
    border: 1px solid gray;
    border-radius: 18px;
    background-color: aliceblue;
    padding: 10px;
}

.pack-header {
    display: flex;
    flex-direction: column;

    color: white;
    font-weight: 500;
    line-height: 24px;
    border-radius: 18px;
    padding: 10px 16px 15px 16px;
    margin-bottom: 25px;
}

.mobile-pack {
    border: 2px solid gray;
}

.basic-pack {
    border: 2px solid green;
}

.standard-pack {
    border: 2px solid rgb(228, 160, 0);
}

.luxury-pack {
    border: 2px solid rgb(115, 0, 255);
}

.mobile {
    background: url(../../assets/pack-images/mobile.jpg) no-repeat center 20%;
    border: 2px solid gray;
}

.basic {
    background: url(../../assets/pack-images/basic.webp) no-repeat center 20%;
}

.standard {
    background: url(../../assets/pack-images/standard.avif) no-repeat left;
}

.luxury {
    background: url(../../assets/pack-images/luxury.jfif) no-repeat left;
}

.picked-icon-container {
    display: flex;
    justify-content: right;
}

.invisible {
    visibility: hidden;
}

.pack-description {
    padding: 0px 15px 20px 15px;
}

.desc {
    display: flex;
    flex-direction: column;
}

.col {
    font-size: 13px;
    color: rgb(118, 118, 118);
    font-weight: 500;
    line-height: 22px;
}

.col-detail {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    line-height: 20px;
}

.next-button-container {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
}

.next-button {
    padding: 24px 12px;
    background-color: rgb(224, 31, 31);
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 44%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: rgb(199, 13, 13);
}

.next-button:active {
    background-color: rgb(162, 7, 7);
}

/* Content 2 */
.content-2 {
    background-color: aliceblue;
    border: 2px solid white;
    border-radius: 8px;
    padding: 3px;
    display: none;
    max-width: 800px;
    width: 100%;
}

.subscription-headers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2.5fr;  
    color: white;
    font-weight: 500;
    gap: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 800px;
}

.subscription-header-container {
    padding: 10px 10px;
    border: 2px solid black;
    height: 70px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.subscription-header-container:hover {
    transform: scale(1.05);
}

.picked {
    border: 2px solid purple;    
    box-shadow: -2px 2px 10px rgba(115, 0, 255, 0.8);
}

@media screen and (max-width: 535px) { 
    .brand-container i {
        font-size: 35px;
    }

    .brand-container span {
        font-size: 20px;
    }

    .login-container a {
        font-size: 16px;
    }
    
    .email {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .content-1 {
        display: none;
    }

    .content-2 {
        display: initial;
    }
}