.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 1%;
    border-bottom: 1px solid rgb(211, 204, 204);
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.brand-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-left: 2%;
}

.brand-logo {
    font-size: 70px;
    color: red;
}

.brand-name {
    font-weight: 700;
    padding-left: 4%; 
    font-size: 35px;
    color: red;
}

.login-container {
    margin-right: 2%; 
}

.login-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(34, 33, 33);
    transition: text-decoration 0.3s;
}

.login-container a:hover {
    text-decoration: underline;
    /* Drop down menu ? */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20%;
    margin-top: 5%;  
    padding-top: 15%;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 340px;
    width: 100%;
    padding: 8%;  
}

.main-container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.step-preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px;
    margin-bottom: 10%; 
}

.s-count {
    padding: 8px 13px;
    background-color: red;
    border-radius: 50%;
    color: white;
}

.step-logo-container {
    display: flex;
    justify-content: center;
    gap: 10%; 
    margin-bottom: 20px;
}

.step-logo-container i {
    font-size: 70px;
    color: rgb(184, 20, 20);
    cursor: pointer;
}

.step-count {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(69, 64, 64);
}

.count {
    color: black;
    font-weight: 500;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: rgb(58, 55, 55);
}

.yapping {
    font-size: 18px;
    max-width: 290px;
    width: 100%;
    line-height: 24px;
}

.next-button {
    padding: 12px;
    background-color: rgb(224, 31, 31);
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    border: none;
    cursor: pointer;    
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: rgb(199, 13, 13);
}

.next-button:active {
    background-color: rgb(162, 7, 7);
}

@media screen and (max-width: 500px) {
    .brand-container i {
        font-size: 35px;
    }

    .brand-container span {
        font-size: 20px;
    }
    
    .login-container a { 
        font-size: 16px;
    }
}