.codinh {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
}

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

.brand-logo {
    font-size: 40px;
    color: crimson
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: crimson;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    height: 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
}

nav a {
    color: white;
    text-decoration: none;
}

.one {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.logo1 {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 100%;
}

.pim:hover,
.tivi:hover,
.music:hover,
.cartoon:hover,
.thethao:hover,
.xemthem:hover {
    color: crimson;
    cursor: pointer;
}

.pim,
.tivi,
.music,
.cartoon,
.xemthem {
    transition: color 0.3s;
}

.bell:hover,
.search:hover {
    color: crimson;
}

.bell,
.search,
.user {
    font-size: 23px;
}

#hamburger-menu {
    font-size: 23px;
}

#hamburger-menu:hover {
    color: crimson;
}

.user:hover {
    color: crimson;
}

#login {
    font-size: 15px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    margin-bottom: 10px;
    background-color: crimson;
    color: aliceblue;
}

.br {
    color: crimson;
    max-width: 1470px;
    width: 94%;
    display: flex;
    opacity: 0.5;
}

.div1 {
    list-style: none;
    line-height: 24px;
}

.div0 {
    list-style: none;
    display: flex;
    justify-content: center;
}

.div2 {
    line-height: 24px;
    list-style: none;
}

.sdt {
    margin-left: 6px;
}

.div3 {
    list-style: none;
    line-height: 24px;
}

ul {
    margin: 0;
    padding: 0;
}

.mail {
    margin-left: 6px;
}

.ytb {
    color: white;
    margin-left: 10px;
}

.toptop {
    color: white;
    margin-left: 10px;
}

.fb {
    color: white;
}

.div0 {
    gap: 8%;
    margin: 0 3%;
}

.div1 li:hover {
    color: crimson;
    cursor: pointer;
}

.div2 li:hover {
    color: crimson;
    cursor: pointer;
}

.fb:hover,
.ytb:hover,
.toptop:hover {
    color: crimson;
    cursor: pointer;
}

.backgr1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.backgr2 {
    display: flex;
    justify-content: center;
    background-image: url('../img/backgroundhtml.jpg'); 
    width: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border-radius: 20px;
}

.text {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 55px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.phongchu {
    font-size: 55px;
}

.phongchu2 {
    font-size: 20px;
    line-height: 1px;
    margin-top: -20px;
}

@keyframes khanh {
    0% {
        box-shadow: 0px 0px 4px rgb(255, 0, 55);
    }

    50% {
        box-shadow: 0px 0px 60px rgb(255, 0, 25);
    }

    100% {
        box-shadow: 0px 0px 4px rgb(255, 0, 0);
    }
}

.nut {
    padding: 4px 15px;
    border-radius: 25px;
    background-color: rgb(255, 60, 0);
    margin-top: 31px;
    align-items: center;
    animation: khanh 1.2s infinite alternate;
    border: none;
}

.dki {
    color: aliceblue;
    font-size: 22px;
    margin-top: 9px;
    margin-bottom: 9px;
    cursor: pointer;
}

.phim1 {
    height: 138px;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.phim1:hover {
    transform: scale(1.1);
}

.phim {
    display: flex;
    height: 138px;
    width: 243px;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
    object-fit: cover;
}

.tenphim {
    font-size: 13px;
}

.tenphim1 {
    font-size: 13px;
    margin-top: 9px;
}

.phim:hover {
    transform: scale(1.1);
}

.DIV {
    align-items: start;
    display: flex;
    gap: 18px;
}

.div-to {
    display: flex;
    align-items: center;
    position: relative;
}

.loaiphim1 {
    height: 310px;
    width: 243px;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.loaiphim2 {
    display: flex;
    height: 310px;
    width: 243px;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.loaiphim1:hover,
.loaiphim2:hover {
    transform: scale(1.1);
}

.more {
    width: 170px;
    height: 190px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 753px;
    display: none;
    line-height: 22.5px;
    gap: 10px;
    border-radius: 12px;
}

.hienThi {
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
}

.pre {
    position: absolute;
    z-index: 1000;
    height: 314px;
    width: 63px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 5, 20, 0.907);
    color: rgba(233, 233, 241, 0.926);
    bottom: 43px;
    border-radius: 5px;
    left: 0px;
}

.next0 {
    position: absolute;
    z-index: 1000;
    height: 311px;
    width: 60px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 5, 20, 0.907);
    color: rgba(233, 233, 241, 0.926);
    bottom: 45px;
    border-radius: 2px;
    right: 0%;
}

.next0:hover {
    opacity: 10;
}

.DIV-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

.carousel {
    margin-left: 5%;
    position: relative;
    max-width: 1390px;
    width: 90%;
}

.pre:hover {
    opacity: 10;
}

.pre2 {
    position: absolute;
    z-index: 1000;
    height: 140px;
    width: 59px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 5, 20, 0.907);
    color: rgba(233, 233, 241, 0.926);
    bottom: 40px;
    border-radius: 10px;
}

.pre2:hover {
    opacity: 10;
}

.pre3 {
    position: absolute;
    z-index: 1000;
    height: 136px;
    width: 59px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 5, 20, 0.907);
    color: rgba(233, 233, 241, 0.926);
    bottom: 72px;
    border-radius: 10px;
}

.pre3:hover {
    opacity: 10;
}

.pre4 {
    position: absolute;
    z-index: 1000;
    height: 138px;
    width: 59px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 5, 20, 0.907);
    color: rgba(233, 233, 241, 0.926);
    bottom: 72px;
    border-radius: 10px;
}

.pre4:hover {
    opacity: 10;
}

.next4 {
    position: absolute;
    z-index: 1000;
    height: 138px;
    width: 59px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 4, 16, 0.83);
    color: rgba(219, 219, 228, 0.926);
    bottom: 72px;
    border-radius: 4px;
    right: 0%;
}

.next4:hover {
    opacity: 10;
}

.next1 {
    position: absolute;
    z-index: 1000;
    height: 138px;
    width: 59px;
    font-size: 60px;
    opacity: 0;
    border: none;
    background-color: rgba(1, 4, 16, 0.83);
    color: rgba(219, 219, 228, 0.926);
    bottom: 546x;
    border-radius: 4px;
    right: 0%;
}

.next1:hover {
    opacity: 10;
}

.tanghinh {
    display: none;
}

.fa-bars {
    display: none !important;
}

.MENU {
    display: none;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    line-height: 40px;
    color: white;
}

.hienthi2 {
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    background-color: rgb(52, 51, 51);
}

.MENU li {
    list-style: none;
}

.backgr-phone:hover {
    background-color: gray;
}

.MENU div {
    max-width: 200px;
    width: 100%;
}

.MENU span {
    padding-left: 20px;
}

@media screen and (max-width: 979px) {
    .one {
        display: none;
    }

    .backgr2 {
        background-size: cover;
    }

    .logo {
        display: none;
    }

    .fa-bars {
        display: initial !important;
    }

    main {
        margin-top: 48px;
    }

    header {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 445px) {
    .logo {
        display: none;
    }

    .fa-bars {
        display: initial !important;
    }

    .div0 {
        flex-direction: column;
    }

    .text {
        margin-top: 15px;
    }

    .previous,
    .RIGHT {
        display: none !important;
    }

    .loaiphim1,
    .loaiphim2 {
        height: 270px;
        width: 203px;
    }

    .phim1,
    .phim {
        height: 108px;
        width: 203px;
    }

    main {
        margin-top: 30px;
    }

    .marquee {
        display: flex !important;
    }
}

@media screen and (max-width: 670px) {
    .backgr2 {
        border-radius: 8px;
    }

    .phongchu {
        font-size: 25px;
    }

    .phongchu2 {
        font-size: 14px;
        margin-top: 8px;
    }

    .nut {
        width: 175px;
        margin-top: 8px;
        height: 39px;
    }

    .dki {
        font-size: 11px;
        padding: 0px;
    }

    .previous,
    .RIGHT {
        display: none !important;
    }

    main {
        margin-top: 48px;
    }

}

.marquee-big {
    display: flex;
    justify-content: center;
}

.marquee {
    height: 25px;
    background-color: #201c1c;
    color: #FFD700;
    font-weight: bold;
    margin-top: 0;
    max-width: 900px;
    width: 100%;
}

.text-go2 {
    display: flex;
    margin-bottom: 1px;
    max-width: 900px;
    width: 100%;
}

.chu-chay2 {
    margin-bottom: 0;
    margin-top: 0;
}