body {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    /* animation-name: bg; */
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 500px) {
    body {
        background-color: black;
        background-image: none;
    }
}

@keyframes bg {
    from {
        background-image: url(../assets/background1.jpg);
    }
    to {
        background-image: url(../assets/background2.jpg);
    }
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.brand-container {
    display: flex;
    align-items: center;
    margin-left: 2%;
    cursor: pointer;
    text-decoration: none;
    color: rgb(147, 12, 68);
}

.brand-logo {
    font-size: 70px;
}

.brand-name {
    font-weight: 700;
    padding-left: 10px;
    font-size: 35px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.main-wrapper {
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    padding: 20px 40px;
}

h1 {
    margin: 0px 0px 30px 0px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.email-input,
.password-input {
    font-size: 16px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid red;
    border-radius: 6px;
    padding: 12px;
    width: 290px;
}

.password-input,
.remember-me-check-box {
    margin-top: 15px;
}

.checkbox {
    cursor: pointer;
    transform: scale(1.2);
}

.login-button {
    margin-top: 15px;
    padding: 12px;
    background-color: rgb(224, 31, 31);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: rgb(193, 30, 30);
}

.login-button:active {
    background-color: rgb(169, 42, 42);
}

.other-login-methods {
    text-align: center;
    margin-top: 15px;
}

.oauth-login {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.google-login-button,
.facebook-login-button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}

.login-code {
    margin-top: 5px;
    padding: 16px 12px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}

.google-login-button:hover,
.facebook-login-button:hover,
.login-code:hover {
    opacity: 0.8;
}

.google-login-button:active,
.facebook-login-button:active,
.login-code:active {
    background-color: black;
    color: white;
}

.google-icon,
.facebook-icon {
    font-size: 23px;
    margin-right: 5px;
}

.other-options {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.other-options span {
    color: gray;
}

.other-options a {
    margin-left: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: text-decoration 0.3s;
}

.other-options a:hover {
    text-decoration: underline;
}

.forgot-password {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    transition: opacity 0.3s, color 0.3s;
}

.forgot-password:hover {
    opacity: 0.8;
    color: aqua;
}

footer {
    padding: 20px;
    background-color: rgb(53, 51, 51);
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin: 5px 0;
}